# Sphinx & coverage
build
docs/_build
docs/api
*.coverage
*htmlcov*

# Packages/installer info
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
distribute-*.tar.gz
MANIFEST
glue_astronomy/version.py
pip-wheel-metadata/

# Compiled files
*.py[cod]
*.a
*.o
*.so
*.pyd
__pycache__

# Other
.pylintrc
*.ropeproject
*.__junk*
*.orig
*~
.cache

# Mac OSX
.DS_Store

# PyCharm
.idea

# VS code
.vscode

# Eclipse editor project files
.project
.pydevproject
.settings

.eggs
.hypothesis
.pytest_cache

.tox
.html

# Env
.venv
venv
.env
